.button {
  background: linear-gradient(
    93.92deg,
    #8587e3 -13.51%,
    #4c4dac 40.91%,
    #696aac 113.69%
  );
  box-shadow: 0px 0px 10px #696aac, inset 0px 0px 2px rgba(255, 255, 255, 0.61);
  padding: 10px 40px;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s;
  overflow: hidden;
  position: relative;
  --reflextX: -40px;
}

.button::before {
  content: "";
  top: 0;
  left: 15%;
  width: 20px;
  height: 100%;
  background: color-mix(in oklab, var(--color-white) 10%, transparent);
  position: absolute;
  transform: translateX(var(--reflextX)) rotate(25deg) scaleY(1.5);
  filter: blur(2px);
  opacity: 0;
}

.button:hover {
  box-shadow: 0px 0px 25px #696aac,
    inset 0px 0px 6.69843px rgba(255, 255, 255, 0.9);
}

.button:hover::before {
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .button {
    padding: 8px 30px;
    font-size: 16px;
  }
}
