.iconBox {
  transition: 1s;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.icon {
  transition: 0.5s;
  transition-delay: 0.2s;
}
.button:hover .iconBox {
  max-width: 1000px;
  transition: 2s;
}
.button:hover .icon {
  transform: rotate(45deg);
  transition-delay: 0s;
}
